/*https://fonts.google.com/about used to import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* { /*all*/
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex; /* had to google this */
    justify-content: center;
}

section{
    width: 600px; /* hard coded for now*/
}

h1 {
    font-size: 2.5rem; /*relational font sizing, 1rem == 16px*/
    line-height: 1rem; /*line-height is important for readability*/
    text-align: left;
}

h2 {
    font-size: 3.5rem;
    line-height: 1rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.25;
}

.title-block{ /*target const in JS*/
    width: 600px;
    height: 200px;
    background-color: rgb(102,96,221); /*one way to display color*/
    border-radius: 5px;
    display: flex;
    justify-content: center; /*need both justify and align for horizontal and vertical*/
    align-content: center;
    color: azure; /*another way to display color*/
}